body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    -webkit-font-smoothing: subpixel-antialiased;
    background: #fff;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #1b1919;
    opacity: 1;
}
#footer {
    color: #1b1919;
    background: #fff;
    text-align: center;
    margin-top: 40px;
    padding-bottom: 40px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
a {
    color: #1b1919;
    text-decoration: none;
}
.navbar li a{
    font-weight:bold;
    letter-spacing:2px;
    font-size:12px;
    padding-left:20px;
    padding-right:20px;
    color: #1b1919;
}
.footer-bottom-text2 {
    opacity: 1;
    font-size: 12px;
}
#header {
    padding-top: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.navbar .nav:after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: url(../img/menu-bd-bot.png) no-repeat center center;
}

.element-big-content-title {
    margin-bottom: 10px;
    margin-top: 30px !important;
}
